.vscode/**
.vscode-test/**
node_modules/**
src/**
test/**
.gitignore
**/.vscode-test.*
**/eslint.config.mjs
**/jsconfig.json
package-lock.json
vsc-extension-quickstart.md
.yarnrc
**/*.map
build.js
.git/**
*.ts
*.map
webpack.config.js